@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1654925038565') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia:before {
  content: "\f02a9";
}

.icon-tuichu:before {
  content: "\e622";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-shouyefill:before {
  content: "\e6ca";
}

.icon-wuyoushouhou:before {
  content: "\e699";
}

.icon-liuyan:before {
  content: "\e602";
}

.icon-zuobiao:before {
  content: "\e64b";
}

.icon-youqinglianjie:before {
  content: "\e636";
}

.icon-dianshang:before {
  content: "\e621";
}

.icon-fuwuqi:before {
  content: "\e607";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-zhandianditu:before {
  content: "\e68f";
}

.icon-biaoqian:before {
  content: "\e6d8";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-xingming:before {
  content: "\e605";
}

.icon--gerenxinxi:before {
  content: "\e72b";
}

.icon-tuijian:before {
  content: "\e6fa";
}

.icon-shuangyoujiantou-:before {
  content: "\e62a";
}

.icon-sousuo:before {
  content: "\e662";
}

.icon-_weixiao:before {
  content: "\e60a";
}

.icon-shoucang:before {
  content: "\e8c6";
}

.icon-rizhi:before {
  content: "\e626";
}

.icon-B:before {
  content: "\e6f8";
}

.icon-jichushezhi:before {
  content: "\e63a";
}

.icon-mima:before {
  content: "\e620";
}

.icon-program:before {
  content: "\e991";
}

.icon-gerenxinxi:before {
  content: "\e670";
}

.icon-a-qingtianbaitian:before {
  content: "\e6a2";
}

.icon-pingmiansheji:before {
  content: "\e62d";
}

